<!DOCTYPE html>
<html lang="ru">
<head>
    <meta name="google-site-verification" content="gigtgy6-3l55yerx68jlYjQXOXQyMpBD9TRm8ZdaiGg">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!--<link rel="icon" href="<%= BASE_URL %>favicon.ico">-->
    <link rel="icon" href="https://api.starlance.com.ua/static/assets/img/logo.png">
    <title>Курсы по веб-разработке в Херсоне | StarLance School</title>
    <meta name="description" content="Starlance School - авторские курсы по веб-разработке. Зеленчук
    Сергей, практикующий веб-разработчик и преподаватель. Более 100 выпускников"/>
</head>
<body>
<noscript>
    <strong>Ваше устройство не поддерживает JavaScript</strong>
</noscript>
<div id="app"></div>
<!-- built files will be auto injected -->
</body>
</html>
