<template>
    <div class="about">
        <vue-headful :title=title :description=description />
        <h1>This is an about page</h1>
    </div>
</template>

<script>
    export default {
        name: "About",
        data () {
            return {
                title: "Про нас",
                description: "Про нас"
            }
        },
    }
</script>
