<template>
    <div class="contact">
        <vue-headful :title=title :description=description />
        <h1>This is an Contact page</h1>
    </div>
</template>

<script>
    export default {
        name: "Contact",
        data () {
            return {
                title: "Контакти",
                description: "Контакти"
            }
        },
    }
</script>
