<template>
    <div>

        <v-layout v-if="course">


            <vue-headful
                    v-cloak :title="course.title + ' | Starlance School'"
                    :description=course.description>
            </vue-headful>


            <v-flex xs12>
                <!--<v-container grid-list-md>-->

                    <v-card class="elevation-4 pa-5 mb-4">

                        <div class="mb-4 text-xs-center">
                            <router-link class="breadcrumbs_link" to="/">Главная</router-link>
                            <v-icon class="divider_custom">chevron_right</v-icon>
                            <a class="grey--text cursor_none">{{ course.title }}</a>
                        </div>


                        <v-divider></v-divider>

                        <v-layout row wrap>

                            <v-flex md8 sm8>
                                <p class="display-1 mt-3 text-xs-center">{{ course.title }}</p>
                                <p class="text-xs-center" v-html="course.description"></p>

                                <OrderForm :course_id="course.id"/>

                            </v-flex>

                            <v-flex md4 xs12 sm4>
                                <v-card flat tile class="d-flex">
                                    <v-img
                                            v-if="course.course_img"
                                            :src="course.course_img"
                                            aspect-ratio="1"
                                            class="grey lighten-2"
                                    >
                                    </v-img>
                                </v-card>
                            </v-flex>

                        </v-layout>
                        <v-divider></v-divider>

                    </v-card>


                <!--</v-container>-->



                <div v-if="course.id">
                    <CoursePlan :static_course_id="course.id" v-if="course.id"/>
                </div>

            </v-flex>
        </v-layout>
    </div>
</template>

<script>
    import CoursePlan from '@/components/CourseDetailComps/CoursePlan'
    import OrderForm from '@/components/CourseDetailComps/OrderForm'

    export default {
        name: "CourseDetail",
        components: {
            CoursePlan,
            OrderForm
        },
        props: ['slug'],
        computed: {
            course() {
                const router_slug = this.slug  // get data from props router
                return this.$store.getters.coursesBySlug(router_slug)
            }
            ,
        }
        ,
        mounted() {
            // init store
            // need for loading data for pages was used router props for api call
            this.$store.dispatch('loadCourses')

            // console.log(this.slug)
            // console.log(this.course)
        },
        updated() {
            /* We waiting when the computed property this.course getting value and check router props */
            // console.log(this.slug)
            // console.log(this.course)
            if (this.course === undefined) this.$router.push("/404")
        }
    }
</script>

<style scoped>
    .breadcrumbs_link {
        text-decoration: none;
        color: #2196F3;
    }

    .cursor_none {
        cursor: default;
    }

    .divider_custom {
        margin: 0 0 -5px 0;
    }
</style>
