<template>

    <div>
        <vue-headful :title=title :description=description></vue-headful>

        <v-parallax
                dark
                src="https://api.starlance.com.ua/static/assets/img/header-min.jpg"
                height="275"
        >
            <v-layout
                    align-center
                    column
                    justify-center
            >
                <h1 class="display-2 font-weight-thin mb-3">Курсы по веб-разработке</h1>
                <h4 class="subheading">Learn and write code with passion!</h4>
            </v-layout>
        </v-parallax>

        <div v-if="loading">
            Загружаю...
        </div>

        <v-layout row wrap v-else align-center class="my-2">
            <v-flex xs12 md3 xl4 sm6 v-for="(course, i) in allCourses" :key="i" v-cloak>
                <v-hover v-if="course.visible">

                    <v-card slot-scope="{ hover }" :class="`elevation-${hover ? 5 : 2}`">
                        <v-img v-if="course.course_img" :src="course.course_img"></v-img>

                        <v-card-title text-xs-left>
                            <div>
                                <div class="title text-xs-left">{{ course.title }}</div>
                            </div>
                        </v-card-title>

                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn @click.native="scrollToTop" flat :to="'/courses/' + course.slug + '/'">
                                Подробнее
                            </v-btn>
                            <!--<v-btn flat color="blue" :to="'/order/' + course.id">Замовити</v-btn>-->

                        </v-card-actions>
                    </v-card>

                </v-hover>
            </v-flex>
        </v-layout>


    </div>
</template>

<script>
    export default {
        name: "Home",
        data() {
            return {
                title: "Курсы по веб-программированию | Starlance",
                description: "Starlance School - авторские курсы по веб-разработке. Зеленчук\n" +
                    "Сергей, практикующий веб-разработчик и преподаватель. Более 100 выпускников",
            }
        },
        computed: {
            loading() {
                return this.$store.getters.loading
            },
            allCourses() {
                return this.$store.getters.courses
            }
        },
        mounted() {
            // init store
            // need for loading data for pages was used router props for api call
            this.$store.dispatch('loadCourses')
        },

        methods: {
            scrollToTop() {
                window.scrollTo(0, 0);
            }
        }
    }
</script>

<style scoped></style>