<template>
    <div>

        <v-card class="elevation-4 pa-4 mb-4" v-if="course_titles">
            <h2 class="mb-4 display-1">Програма курсу</h2>


            <v-expansion-panel focusable >
                <v-expansion-panel-content v-for="(title, i) in course_titles" :key="i">
                    <template v-slot:header v-if="title.title">
                        <div class="subheading">{{ title.title }}</div>
                    </template>
                    <v-card>
                        <v-card-text class="grey lighten-5 body-2" v-html="title.description"></v-card-text>
                    </v-card>
                </v-expansion-panel-content>
            </v-expansion-panel>

        </v-card>


    </div>
</template>

<script>
    export default {
        name: "CoursePlan",
        props: ['static_course_id'],
        computed: {
            course_titles() {
                return this.$store.getters.program_titles
            },

            get_current_course_id() {
                return this.static_course_id
            },
        },
        created() {
            const course_id = this.get_current_course_id


            // push in store action course_id for axios request
            this.$store.dispatch('loadTitles', course_id)

        },
    }
</script>

<style scoped>

</style>
