<template>
    <v-layout row wrap class="mt-5">


        <v-flex md6 xs12 sm12>

            <div class="text-xs-center">

                <v-dialog v-model="dialog1" width="600">

                    <template v-slot:activator="{ on }">
                        <v-btn
                                round
                                dark large color="red darken-3"
                                class="elevation-4"
                                v-on="on"
                        >
                            <v-icon dark>ondemand_video</v-icon>
                            &nbsp;&nbsp;
                            Промо видео
                        </v-btn>
                    </template>

                    <v-card>
                        <v-card-title
                                class="headline grey lighten-2"
                                primary-title
                        >
                            Промо видео
                        </v-card-title>

                        <v-card-text>
                            <iframe
                                    ref="embedVideo"
                                    width="560"
                                    height="315"
                                    src="https://www.youtube.com/embed/wWWOSBDtgQ0?enablejsapi=1&version=3&playerapiid=ytplayer"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen
                            >
                            </iframe>
                        </v-card-text>

                        <v-divider></v-divider>

                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn
                                    color="primary"
                                    flat
                                    @click="stopEmbedVideo"
                            >
                                Закрыть
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </div>

        </v-flex>

        <v-spacer></v-spacer>

        <v-flex md6 xs12 sm12>
            <div class="text-xs-center">
                <v-dialog v-model="dialog" width="500">

                    <template v-slot:activator="{ on }">
                        <v-btn dark round outline large color="blue" class="elevation-7"
                               v-on="on">
                            <v-icon dark>create</v-icon>
                            &nbsp;&nbsp;
                            Оставить заявку
                        </v-btn>
                    </template>

                    <v-card>
                        <v-card-title
                                class="title grey lighten-2"
                                primary-title
                        >
                            Оставить заявку

                        </v-card-title>


                        <v-card-text>
                            <v-form
                                    ref="form"
                                    v-model="valid"
                                    lazy-validation
                            >
                                <v-text-field
                                        v-model="name"
                                        :counter="20"
                                        :rules="nameRules"
                                        label="Ваше имя"
                                        required
                                ></v-text-field>

                                <v-text-field
                                        v-model="mobile"
                                        :counter="13"
                                        :rules="mobileRules"
                                        label="Номер телефона"
                                        required
                                ></v-text-field>


                                <v-text-field
                                        v-model="email"
                                        :rules="emailRules"
                                        label="E-mail"
                                        required
                                ></v-text-field>

                                <v-checkbox
                                        v-model="checkbox"
                                        :rules="[v => !!v || 'Поставьте галочку']"
                                        label="Ваши данные под защитой. Согласны?"
                                        required
                                ></v-checkbox>

                                <v-btn
                                        :disabled="!valid"
                                        color="success"
                                        @click="validate"
                                        :loading="loading"
                                >
                                    Отправить
                                </v-btn>

                                <v-btn
                                        color="error"
                                        @click="dialog = false"
                                >
                                    Отмена
                                </v-btn>
                            </v-form>
                        </v-card-text>
                    </v-card>
                </v-dialog>
            </div>

        </v-flex>


        <div class="text-xs-center">
            <v-bottom-sheet v-model="sheet" inset lazy>
                <v-list>
                    <v-subheader>
                        <span class="title">Благодарю за заявку! Успехов!</span>
                    </v-subheader>
                </v-list>
            </v-bottom-sheet>
        </div>


    </v-layout>
</template>

<script>
    export default {
        name: "OrderForm",
        props: ['course_id'],
        data() {
            return {
                dialog: false,
                dialog1: false,

                valid: true,
                name: '',
                nameRules: [
                    v => !!v || 'Імя обов\'зкове поле',
                    v => (v && v.length <= 20) || 'Імя не може бути більше 20 символів'
                ],
                email: '',
                emailRules: [
                    // v => !!v || 'E-mail is required',
                    v => /.+@.+/.test(v) || 'Перевірте правильність E-mail-адреси'
                ],
                mobile: '+380',
                mobileRules: [
                    v => !!v || 'Номер телефону обов\'зкове поле',
                    v => (v && v.length <= 20) || 'Номер телефону не може бути більше 13 символів'
                ],

                checkbox: false,
                snackbar: false,


                sheet: false,
            }
        },

        computed: {
            loading() {
                return this.$store.getters.loading
            },
        },

        methods: {

            stopEmbedVideo: function () {
                this.$refs.embedVideo.contentWindow
                    .postMessage('{"event":"command","func":"' + 'stopVideo' + '","args":""}', '*');
                this.dialog1 = false
            },

            validate: function () {
                window.scrollTo(0, 0);
                if (this.$refs.form.validate()) {
                    this.$store.dispatch('sendOrderToServer', {
                        name: this.name,
                        mobile: this.mobile,
                        email: this.email,
                        course: this.course_id
                    }).then(() => {
                        this.dialog = false
                        const ty = new Audio('https://api.starlance.com.ua/static/music/ty.mp3')
                        ty.play()
                        this.sheet = true
                        setTimeout(() => {
                            this.sheet = false
                        }, 3000)
                    })


                }
            },


        },
    }
</script>

<style scoped>

</style>