<template>
    <div>
        <!--<v-navigation-drawer temporary app v-model="drawerVisible">-->
        <!--<v-btn to="/" flat>Главная</v-btn>-->
        <!--</v-navigation-drawer>-->


        <!--<v-toolbar app dark color="blue">-->
        <!--&lt;!&ndash;<v-toolbar-side-icon @click="toggleDrawer"></v-toolbar-side-icon>&ndash;&gt;-->
        <!--<v-toolbar-title class="text-md-center">Starlance School | курсы</v-toolbar-title>-->

        <!--<v-spacer></v-spacer>-->
        <!--<v-toolbar-items class="hidden-sm-and-down">-->
        <!--<v-btn to="/" flat>Главная</v-btn>-->
        <!--&lt;!&ndash;<v-btn to="/about" flat>About</v-btn>&ndash;&gt;-->
        <!--&lt;!&ndash;<v-btn to="/contact" flat>Contact</v-btn>&ndash;&gt;-->
        <!--&lt;!&ndash;<v-btn to="/login" flat>Login</v-btn>&ndash;&gt;-->
        <!--</v-toolbar-items>-->

        <!--</v-toolbar>-->

        <v-toolbar light elevation-10>
            <v-toolbar-title>Starlance School | курсы</v-toolbar-title>

            <v-spacer></v-spacer>

            <v-toolbar-items class="hidden-sm-and-down">

            </v-toolbar-items>

            <v-spacer></v-spacer>

            <v-toolbar-items class="visible-xs">
                 <v-btn class="hidden-sm-and-down" to="/" flat>Главная</v-btn>

                <v-btn href="tel:+380501872705" class="mx-2" icon>

                    <v-icon>phone</v-icon>
                </v-btn>

                <!--<v-toolbar-side-icon @click="toggleDrawer"></v-toolbar-side-icon>-->

            </v-toolbar-items>
        </v-toolbar>

    </div>
</template>

<script>
    export default {
        name: "Nav",

        data: () => ({
            drawerVisible: false,
        }),

        methods: {
            toggleDrawer() {
                this.drawerVisible = !this.drawerVisible
            },
        },
    }
</script>

<style scoped>

</style>