<template>
    <v-app>


        <v-content>

            <v-container grid-list-lg>
                <v-layout row wrap>
                    <v-flex xs12>

                        <Nav/>

                        <v-progress-linear
                                class="my-0"
                                :indeterminate="loading"
                                background-opacity=".1"
                                height="15"
                        ></v-progress-linear>

                        <router-view></router-view>

                        <v-footer dark height="auto" class="elevation-15">
                            <v-card class="flex" flat tile>
                                <v-card-title class="grey darken-1">
                                    <strong class="subheading">Learn and write code with passion!</strong>

                                    <v-spacer></v-spacer>

                                    <v-btn href="https://t.me/starlanceschool/" class="mx-2" dark icon>
                                        <v-icon>send</v-icon>
                                    </v-btn>

                                    <v-btn href="https://www.youtube.com/user/zelik2010/" class="mx-2" dark icon>
                                        <v-icon>school</v-icon>
                                    </v-btn>

                                </v-card-title>

                                <v-card-actions class="grey darken-3 justify-center">
                                    &copy;&nbsp;2019&nbsp;&nbsp;— &nbsp;<strong>ФОП Зеленчук Сергей, Украина</strong>
                                </v-card-actions>
                            </v-card>
                        </v-footer>

                    </v-flex>
                </v-layout>
            </v-container>
        </v-content>

    </v-app>
</template>

<script>
    import Nav from "./components/Nav"

    export default {
        components: {
            Nav
        },

        data: () => ({
            icons: [
                'fab fa-facebook',
                'fab fa-twitter',
                'fab fa-google-plus',
                'fab fa-linkedin',
                'fab fa-instagram'
            ]
        }),

        computed: {
            loading() {
                return this.$store.getters.loading
            },
        },
    }
</script>

<style scoped>
    [v-cloak] {
        display: none;
    }
</style>
