<template>
    <v-layout align-center justify-center>
        <v-flex xs12 sm8 md4>
            <v-card class="elevation-12">

                <v-toolbar dark color="blue lighten-1">

                    <v-toolbar-title>Вход</v-toolbar-title>

                    <v-spacer></v-spacer>


                    <v-tooltip bottom>
                        <template v-slot:activator="{ on }">
                            <v-btn to="/register" icon large v-on="on">
                                <v-icon large>add</v-icon>
                            </v-btn>
                        </template>
                        <span>Регистрация</span>
                    </v-tooltip>

                    <v-tooltip right>
                        <template v-slot:activator="{ on }">
                            <v-btn icon large to="/reset-password" v-on="on">
                                <v-icon large>drafts</v-icon>
                            </v-btn>
                        </template>
                        <span>Востановить пароль</span>
                    </v-tooltip>

                </v-toolbar>

                <v-card-text>

                    <v-alert
                            v-model="alert"
                            dismissible
                            color="error lighten-1"
                    >
                        Неправильные данные для входа
                    </v-alert>

                    <v-form>
                        <v-text-field @keyup.enter="sendLoginForm" prepend-icon="person" name="login" label="Логин" type="text"
                                      v-model="login"></v-text-field>
                        <v-text-field @keyup.enter="sendLoginForm" id="password" prepend-icon="lock" name="password"
                                      label="Пароль"
                                      v-model="password"
                                      type="password"></v-text-field>
                    </v-form>

                </v-card-text>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn @click="sendLoginForm"  dark color="blue lighten-1">Войти</v-btn>
                </v-card-actions>


            </v-card>


        </v-flex>
    </v-layout>
</template>

<script>
    import axios from 'axios'
    import qs from 'qs'

    const url = "http://localhost:9000/"

    export default {
        name: "Login",
        data: () => ({

            login: "",
            password: "",

            alert: false,
            valid: false,
            nameRules: [
                v => !!v || 'Name is required',
                v => v.length <= 10 || 'Name must be less than 10 characters'
            ],
            email: '',
            emailRules: [
                v => !!v || 'E-mail is required',
                v => /.+@.+/.test(v) || 'E-mail must be valid'
            ]
        }),

        methods: {
            sendLoginForm: function () {

                const data = {
                    'username': this.login,
                    'password': this.password
                };

                const options = {
                    method: 'POST',
                    // headers: { 'content-type': 'application/x-www-form-urlencoded' },
                    data: qs.stringify(data),
                    url: url + "api/v1/rest-auth/login/",
                };


                axios(options)
                    .then(response => {
                        // handle success
                        this.errors = false
                        this.auth_key = response.data.key

                        console.log(response.data)

                        // this.$store.commit('GET_AUTH_KEY', response.data.key)
                        // localStorage.setItem('key', response.data.key)
                        //
                        // this.$router.push("/")
                    })
                    .catch(error => {
                        // handle error
                        this.errors = true
                        // console.log(error);
                    })
            },


        },
    }
</script>

<style scoped>

</style>
