<template>
  <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4>
            <v-card class="elevation-12">

              <v-toolbar dark color="blue lighten-1">

                <v-toolbar-title>Сброс пароля</v-toolbar-title>
                <v-spacer></v-spacer>



                <v-tooltip bottom>
                  <template v-slot:activator="{ on }">
                    <v-btn icon large to="/login" v-on="on">
                      <v-icon large>https</v-icon>
                    </v-btn>
                  </template>
                  <span>Вход</span>
                </v-tooltip>

                <v-tooltip right>
                  <template v-slot:activator="{ on }">
                    <v-btn to="/register" icon large v-on="on">
                      <v-icon large>add</v-icon>
                    </v-btn>
                  </template>
                  <span>Регистрация</span>
                </v-tooltip>

              </v-toolbar>

              <v-card-text>
                <v-form>
                  <v-text-field prepend-icon="email" name="email" label="Email" type="email"></v-text-field>
                </v-form>
              </v-card-text>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn dark color="blue lighten-1">Сбросить</v-btn>
              </v-card-actions>

            </v-card>
          </v-flex>
        </v-layout>
</template>

<script>
  export default {
    name: "Login",
    data: () => ({
      valid: false,
      firstname: '',
      lastname: '',
      nameRules: [
        v => !!v || 'Name is required',
        v => v.length <= 10 || 'Name must be less than 10 characters'
      ],
      email: '',
      emailRules: [
        v => !!v || 'E-mail is required',
        v => /.+@.+/.test(v) || 'E-mail must be valid'
      ]
    })
  }
</script>

<style scoped>

</style>
